:root{
    --color-primario:#222;
    --color-secundario: #ddd;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "inria Sans",sans-serif;
    overflow-x: hidden;
}
.todo{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* Estilo para Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #222;
}
::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}
/* Para Firefox */
/* html {
    scrollbar-width: thin;
    scrollbar-color: #ddd #222;
} */


.pantallainicialpc{
    display: none;
    justify-content: center;
}
.iniciopc{
    display: none;
}
.pantallainicialcelu , .pantallainicialpc{
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(img/monumental2.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.pantallainicialpc{
    display: none;
}
h1{
    color: #fff;
    font-size: 8.5em;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-shadow: 8px 0px 0 #888;
}

@media(max-width: 540px){
    h1{
        font-size: 7em;
    }
    .inicio .material-symbols-outlined {
        position: relative;
        top: 150px;
    }
    @media(max-width: 480px){
        h1{
            font-size: 6em;
        }
        .inicio .material-symbols-outlined {
            position: relative;
            top: 180px;
        }
    
    @media(max-width: 430px){
        h1{
            font-size: 5.5em;
        }
        .inicio .material-symbols-outlined {
            position: relative;
            top: 180px;
        }
    
    @media(max-width: 380px){
        h1{
            font-size: 5em;
        }
        .inicio .material-symbols-outlined {
            position: relative;
            top: 180px;
        }
    
    @media(max-width: 320px){
        h1{
            font-size: 4em;
        }
        .inicio .material-symbols-outlined {
            position: relative;
            top: 180px;
        }
    }
    }
    }
    }
}
.iniciocelu .material-symbols-outlined {
    position: relative;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}
.iniciocelu .material-symbols-outlined:hover{
    transform: scale(1.5);
    text-shadow: 0 0 20px #999;
}

@media(min-width: 768px){
    .pantallainicialcelu{
        display: none;
    }
    .pantallainicialpc{
        display: flex;
        
    }
    .iniciopc{
        display: flex;
        flex-direction: column;
    }
    .iniciopc .material-symbols-outlined {
        position: relative;
        color: #fff;
        font-size: 45px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
    }
    .iniciopc .material-symbols-outlined:hover{
        transform: scale(1.5);
        text-shadow: 0 0 20px #999;
    }
}

.headpc{
    display: none;
}
.headcelu .material-symbols-outlined{
    padding: 0 4px;
}
.headcelu{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.izquierdaHC{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.medioHC{
    display: flex;
}
.logohead{
    width: 110px;
    padding: 5px 7px ;
    transition: 0.5s;
}
.logohead:hover{
    filter: brightness(1.7);
}
.derechaHC{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.perfildesplegable:hover .perfilcategorias{
    display: flex;
}
.perfildesplegable span{
    transition: 0.2s;
}
.perfildesplegable:hover span{
    color: #444;
}
.bolsa-compra:hover span{
    color: #444;
}
.bolsa-compra .perfildesplegable{
    height: 24px;
}
.perfilcategorias{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 6px;
    padding: 8px;
    background-color: #222;
    box-shadow: 0 0 5px #fff;
    z-index: 2;
    transition: 0.3s;
}
.perfilcategorias li{
    list-style: none;
}
.perfilcategorias a{
    padding: 2px 0;
    text-decoration: none;
    width: 100%;
    display: block;
    color: #fff;
    transition: 0.3s;
}
.perfilcategorias a:hover{
    color: #aaa;
}

.slider {
    background: #222;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
}
.slide p{
    color: #999;
    display: flex;
    height: 28px;
    align-items: center;
}
.slider .slide-track {
    display: flex;
    animation: scroll 5s linear infinite;
    -webkit-animation: scroll 18s linear infinite;
    width: calc(200px * 14);
}
.slider .slide {
    width: 200px;
}
.slider .slide img {
    width: 100%;
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
#tarjetas{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    margin-top: 10vh;
}
.tarjeta1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vh;
    border: 3px solid #fff;
    background: #fff;
    box-shadow: 0 0 15px #ddd;
    transition: 0.3s;
    width: 70vw;
}
.tarjeta1:hover{
    box-shadow: none;
    filter: brightness(0.91);
}
.tarjeta-imagen img{
    width: 100%;
    max-height: 170px;
    border-radius: 5px 5px 0 0;
}

.destacados h3{
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0 30px 30px;
}
.carousel {
    display: flex;
    justify-content: start;
}
@media(min-width: 1100px){
    .carousel{
        display: flex;
        justify-content: space-evenly;
    }
}

.tarjeta{
    max-width: 400px;
    margin: 0 6px;
    border: 3px solid #fff;
    background: #fff;
    box-shadow: 0 0 15px #ddd;
    transition: 0.3s;
}
.tarjeta:hover{
    box-shadow: none;
    filter: brightness(0.91);
}
.tarjeta img{
    width: 100%;
    max-height: 170px;
    border-radius: 5px 5px 0 0;
}
.tarjetainfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    background: #fff;
    border-radius: 0 0 15px 15px;
}
.tarjetainfo > *{
    padding: 1px 0;
}
.desc{
    font-size: 0.9em;
    color: #444;
    font-weight: 100;
}
.content-varios{
    width: 100vw;
}
.productos-varios{
    display: flex;
    margin-top: 50px;
}
.product{
    width: 25%;
    transition: 0.6s;
}
.product:hover{
    transform: scale(0.9);
}
.product img{
    width: 100%;
    height: 100%;
}

.image-neymar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(img/botines_neymar.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;

    margin-top: 50px;
}

.image-neymar h2{
    margin-top: 50px;
    color: #fff;
    font-size: 6.4em;
}
.image-neymar h3{
    color: #fff;
    font-size: 1.7em;
    letter-spacing: 1em;
}
.image-neymar img{
    margin-top: 60px;
    width: 100px;
    transition: 0.3s;
}
.image-neymar img:hover{
    filter: drop-shadow(0 0 20px #888);
}



/* *****************  PIEEEEEEEEEEE  ***************** */

footer{
    background-color: #222;
    color:#777;
}
.footer-container{
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer-row{
    display: flex;
    justify-content: center;
}
.footer-links{
    width: 33.3%;
    padding: 0 50px 0 20px;
}
.footer-links h4{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.footer-links li{
    list-style-type: none;
}
.footer-links p{
    font-weight: 100;
    padding: 5px 0;
    font-size: 0.9em;
}

.sub-footer2{
    display: flex;
    justify-content: center;
}
.sub-footer2 p{
    font-size: 0.8em;
    padding: 40px 0 30px 0;
}
.sub-footer2 a{
    color:#777;
    text-decoration: none;
}
.sub-footer2 a:hover{
    color: #aaa;
}
.gallery-contact{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-contact span{
    font-size: 30px;
    cursor: default;
    color: #777;
}
.gallery-ig{
    display: flex;
}
.gallery-ig li{
    list-style-type: none;
    margin-left: 8px;
}
.gallery-ig a{
    color: #777;
    text-decoration: none;
}
.gallery-ig a:hover{
    color: #aaa;
}

/* *****************  PIEEEEEEEEEEE  ***************** */

@media(min-width: 768px){
    .headcelu{
        display: none;
    }
    .headpc{
        display: flex;
        justify-content: space-between;
        background-color: #fff ;
    }
    .headpc .material-symbols-outlined{
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
    .izquierdaHP{
        display: flex;
        padding-left: 10px;
    }
    .medioHP{
        display: flex;
        align-items: center;
    }
    #tarjetas{
        display: grid;
        grid-template-columns: repeat(4,1fr);   
    }
    .tarjeta1{
        width: 20vw;
    }
    .contenedorbusqueda{
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 3px 3px 3px 9px;
        background-color: #eee;
    }
    .contenedorbusqueda input{
        outline: none;
        width: 300px;
        padding: 5px 3px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        background-color: #eee;
    }
    .contenedorbusqueda button{
        border-radius: 5px;
        border: none;
        background: none;
        height: 24px;
    }
    .contenedorbusqueda img{
        width: 30px;
        height: 30px;
    }
    .tolva{
        display: flex;
    }
    .desplegable{
        padding-right: 5px;
        margin-top: 4px;
    }
    .desplegable:hover .categorias{
        display: flex;
    }
    .categorias{
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 8px;
        background-color: #222;
        box-shadow: 0 0 5px #fff;
        z-index: 2;
        transition: 3s;
    }
    .categorias li{
        list-style: none;
    }
    .categorias a{
        padding: 2px 0;
        text-decoration: none;
        width: 100%;
        display: block;
        color: #fff;
        transition: 0.2s;
    }
    .categorias a:hover{
        color: #aaa;
    }
    .derechaHP{
        display: flex;
        align-items: center;
        padding-right: 17px;
    }
}