:root{
    --color-primario:#222;
    --color-secundario: #ddd;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "inria Sans",'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    background-color: #bdb9b9;
}
main{
    min-height: 100vh;
}
.inicio{
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(/img/monumental2.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-shadow: 9px 0px 0 #acacac;
}
@media(max-width: 480px){
    h1{
        font-size: 6em;
    }
    @media(max-width: 380px){
        h1{
            font-size: 5em;
        }
    }
    @media(max-width: 320px){
        h1{
            font-size: 4em;
        }
    }
}
.inicio .material-symbols-outlined {
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}
.inicio .material-symbols-outlined:hover{
    transform: scale(1.5);
    text-shadow: 0 0 20px #ddd;
}
.headcelu{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.logohead{
    width: 100px;
    padding: 10px 10px 0 5px;
}
.medioHC{
    display: flex;
    align-items: center;
}
.tolva{
    display: none;
    width: 25px;
    height: 25px;
    padding: 0 10px 0 0;
}
.desplegable:hover .categorias{
    display: flex;
}
.categorias{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: var(--color-primario);
    box-shadow: 0 0 5px var(--color-secundario);
    padding: 10px;
}
.categorias li{
    list-style: none;
    padding: 5px;
}
.categorias a{
    text-decoration: none;
    color: #fff;
    transition: 0.1s;
}
.categorias a:hover{
    color: var(--color-secundario);
}
.icons{
    width: 25px;
    height: 25px;
    padding: 0 5px 0 15px;
}
    .contenedorbusqueda{
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda input{
        outline: none;
        width: 100%;
        padding: 5px 3px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda button{
        border-radius: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .contenedorbusqueda img{
        padding: 0;
        width: 30px;
        height: 30px;
    }
.derechaHC{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headpc{
    display: none;
}
.icons:hover{
    filter: drop-shadow(0 0 3px rgb(174, 174, 174));
}
.perfildesplegable:hover .perfilcategorias{
    display: flex;
}
.perfilcategorias{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #222;
    box-shadow: 0 0 5px #fff;
    right: 6px;
    padding: 5px;   
    transition: 3s;
}
.perfilcategorias li{
    list-style: none;
}
.perfilcategorias a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.1s;
}
.perfilcategorias a:hover{
    color: #777;
}
.generos a{
    color: #fff;
    text-decoration: none;
}
.generos a:hover{
    text-decoration: underline;
}
.pie{
    background-color: #000000;
    color:rgb(61, 61, 61);
}
.subpie2{
    display: flex;
    
    justify-content: space-between;
}
.subpie2 a{
    color:rgb(61, 61, 61);
    text-decoration: none;
}
.subpie2 a:hover{
    text-decoration:underline;
}
.generos{
    background-color: #000;
}
.generos ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.slide p{
    color: #777;
}
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    width: calc(200px * 14);
}
.slider .slide {
    width: 200px;
}
.slider .slide img {
    width: 100%;
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

@media(min-width: 768px){
    .contenedorbusqueda{
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda input{
        outline: none;
        width: 300px;
        padding: 5px 3px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda button{
        border-radius: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .contenedorbusqueda img{
        width: 30px;
        height: 30px;
    }
    .tolva{
        display: flex;
    }
}