:root{
    --color-primario:rgb(34, 34, 34);
    --color-secundario: rgb(92, 17, 157);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #bdb9b9;
}
main{
    min-height: 100vh;
}
.headcelu{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.logohead{
    width: 100px;
    padding: 10px 10px 0 5px;
}
.medioHC{
    display: flex;
    align-items: center;
}
.tolva{
    display: none;
    width: 25px;
    height: 25px;
    padding: 0 10px 0 0;
}
.desplegable:hover .categorias{
    display: flex;
}
.categorias{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: var(--color-primario);
    box-shadow: 0 0 5px var(--color-secundario);
    padding: 10px;
}
.categorias li{
    list-style: none;
    padding: 5px;
}
.categorias a{
    text-decoration: none;
    color: #fff;
    transition: 0.1s;
}
.categorias a:hover{
    color: var(--color-secundario);
}
.icons{
    width: 25px;
    height: 25px;
    padding: 0 5px 0 15px;
}
.contenedorbusqueda{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(235, 235, 235);
}
.contenedorbusqueda input{
    outline: none;
    width: 100%;
    padding: 5px 3px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: rgb(235, 235, 235);
}
.contenedorbusqueda button{
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
}
.contenedorbusqueda img{
    padding: 0;
    width: 30px;
    height: 30px;
}
.derechaHC{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headpc{
    display: none;
}
.icons:hover{
    filter: drop-shadow(0 0 3px rgb(174, 174, 174));
}
.perfildesplegable:hover .perfilcategorias{
    display: flex;
}
.perfilcategorias{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: #222;
    box-shadow: 0 0 5px #fff;
    right: 10px;
    padding: 5px;
}
.perfilcategorias li{
    list-style: none;
}
.perfilcategorias a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.1s;
}
.perfilcategorias a:hover{
    color: #777;
}
.generos a{
    color: #fff;
    text-decoration: none;
}
.generos a:hover{
    text-decoration: underline;
}
.pie{
    background-color: #000000;
    color:rgb(61, 61, 61);
}
.subpie2{
    display: flex;
    
    justify-content: space-between;
}
.subpie2 a{
    color:rgb(61, 61, 61);
    text-decoration: none;
}
.subpie2 a:hover{
    text-decoration:underline;
}
.generos{
    background-color: #000;
}
.generos ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

@media(min-width: 768px){
    .contenedorbusqueda{
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda input{
        outline: none;
        width: 300px;
        padding: 5px 3px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        background-color: rgb(235, 235, 235);
    }
    .contenedorbusqueda button{
        border-radius: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .contenedorbusqueda img{
        width: 30px;
        height: 30px;
    }
    .tolva{
        display: flex;
    }
}