:root{
    --color-primario:rgb(34, 34, 34);
    --color-secundario: rgb(92, 17, 157);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('/img/cancha-esquina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /*el vh es viewport height y es para que la imagen ocupe el 100% de la ventana del navegador*/
}

.cabeza{
    background: var(--color-primario);
    padding: 15px;
    transition: 0.3s;
}
.cabeza:hover{
    background-color: var(--color-secundario);
    box-shadow: 0px 10px 37px rgb(42, 0, 104);
}
.cabeza ul{
    list-style-type: none;
    display: flex;
}
.cabeza li{
    margin-right: 40px;
    font-size: 25px;    
}
.cabeza a{
    text-decoration: none;
    color: #000;
}
.cabeza a:hover{
    text-decoration:underline;
}


.login{
    max-width: 30%;
    max-height: 80%;
    background-color: rgb(61, 61, 61);
    margin: 50px auto ;
    box-shadow: 0px 12px 37px rgba(46, 0, 116, 0.774);
    padding: 20px 30px 25px;
    border-top: 40px solid var(--color-secundario);
    transition: 0.3s;
}
.login:hover{
    box-shadow: 0px 12px 37px rgba(0, 0, 0, 0.774);
}

.login a{
    color: #000000;
    text-decoration: none;
}
.login a:hover{
    text-decoration:underline;
}
.ingreso{
    width: 100%;
    border: 2px solid var(--color-primario);
    margin-bottom: 20px;
    padding: 15px 10px;
    background: rgb(31, 31, 31);
    font-size: 15px;
    color: rgb(116, 116, 116);
    transition: 0.3s;
    outline: none;

}
.ingreso:hover{
    border: 2px solid var(--color-secundario);
    box-shadow: 4px 4px 37px rgba(33, 0, 83, 0.49);
}
.ingreso:focus{
    border: 2px solid var(--color-secundario);
    box-shadow: 4px 4px 37px rgba(33, 0, 83, 0.49);
}
.boton{
    width: 100%;
    height: 40px;
    border: none;
    background: var(--color-primario);
    border-radius: 6px;
    font-size: 15px;
    transition: 0.5s;
}
.boton:hover{
    background: var(--color-secundario);
    box-shadow: 4px 4px 0 rgba(33, 0, 83, 0.49);
    color: #fff;
}
label{
    margin: 0 10px 15px 10px ;
    display: flex;
    cursor: pointer;
}

.pie{
    background-color: #000000;
    color:rgb(61, 61, 61);
}
.subpie2{
    display: flex;
    justify-content: space-between;
}
.subpie2 a{
    color:rgb(61, 61, 61);
    text-decoration: none;
}
.subpie2 a:hover{
    text-decoration:underline;
}