:root{
    --color-primario:rgb(34, 34, 34);
    --color-secundario: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(/img/monumental-difuminado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 100%; /*el vh es viewport height y es para que la imagen ocupe el 100% de la ventana del navegador*/
}
main{
    min-height: 100vh;
}
.cabeza{
    display: flex;
    background: var(--color-primario);
    padding: 15px;
    background-color: var(--color-secundario);
    box-shadow: 0px 10px 37px rgb(31, 31, 31);
}
.cabeza img{
    width: 80px;
}
.cabeza ul{
    list-style-type: none;
    display: flex;
}
.cabeza li{
    margin-right: 40px;
    font-size: 25px;    
}
.cabeza a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.cabeza a:hover{
    text-decoration:underline;
}
.login{
    width: 90%;
    max-width: 400px;
    background-color: rgb(61, 61, 61);
    margin: 50px auto ;
    padding: 20px 30px 25px;
    border-top: 40px solid var(--color-secundario);
    transition: 0.3s;
    box-shadow: 0 0 20px #000;
}
.login a{
    color: #000;
    text-decoration: none;
}
.login a:hover{
    text-decoration:underline;
}
.ingreso{
    width: 100%;
    border: 2px solid var(--color-primario);
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 15px;
    color: rgb(197, 197, 197);
    background: rgb(41, 41, 41);
    outline: none;
    transition: 0.7s;
}
.ingreso:hover{
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.49);
}
.ingreso:focus{
    border-radius: 15px;
    border: 2px solid var(--color-secundario);
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.49);
}
.terminoscondiciones{
    margin: 0 10px 15px 10px ;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.terminoscondiciones p{
    margin-left: 5px;
}
.div-boton{
    text-align: center;
}
.boton{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background: var(--color-secundario);
    box-shadow: 0px 4px 0 rgba(255, 255, 255, 0.49);
    color: #000;
    cursor: pointer;
}
.pie{
    background-color: #000000;
    color:rgb(61, 61, 61);
}
.subpie2{
    display: flex;
    justify-content: space-between;
}
.subpie2 a{
    color:rgb(61, 61, 61);
    text-decoration: none;
}
.subpie2 a:hover{
    text-decoration:underline;
}
